﻿@model CoSSIP___Front_End.Models.ViewModelBase
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Content/allJS.js"></script>
    <script type="text/javascript" src="~/Scripts/SIP/Site.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CoSSIP", "Home", "CoSSIP", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Home", "CoSSIP")</li>
                    <!-- Check if the user can access these pages. -->
                    @foreach (var role in Model.user.roles)
                    {
                        if (role.Equals("General") || role.Equals("Admin"))
                        {
                            <li>@Html.ActionLink("Template", "Template", "CoSSIP")</li>
                        }
                    }
                    <li>@Html.ActionLink("About", "About", "CoSSIP")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "CoSSIP")</li>
                    <!-- Check if the user can access these pages. -->
                    @foreach (var role in Model.user.roles)
                    {
                        if (role.Equals("General") || role.Equals("Admin"))
                        {
                            <li>@Html.ActionLink("Help", "Help", "CoSSIP")</li>
                            <li>@Html.ActionLink("Documentation", "Documentation", "CoSSIP")</li>
                        }
                        if (role.Equals("Admin"))
                        {
                            <li>@Html.ActionLink("Options", "Options", "CoSSIP")</li>
                        }
                    }
                </ul>

                <p class="nav navbar-text navbar-right">Hello, @Model.user.userName!</p>
            </div>
        </div>
    </div>
    <br />
    <!--
    <div id="side-nav-wrapper">
        <h1 id="side-nav-header" onclick="ToggleSideMenu()">&lt;&lt; TOOL BAR &lt;&lt;</h1>
        <div id="side-nav-items">
            <ul>
                <li>Html.ActionLink("Home", "Home", "CoSSIP")</li>
                <li>Html.ActionLink("Use Template", "UseTemplate", "CoSSIP")</li>
            </ul>
        </div>
    </div>
    -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p> @Html.Raw("You Belong To The Following Groups...") </p>
            <ul>
                @foreach (var role in Model.user.roles)
                {
                    <li> @Html.Raw(role) </li>
                }
            </ul>
            <br />
            <p>&copy; @DateTime.Now.Year - Welcome to CoS-SIP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
