﻿<!--
 * File Name - About.cshtml
 *
 * Author - Rory Thoman
 * Date Created - 02/10/2017
 * Last Edited - 08/10/2017
 * Last Edited by - Tristyn Mackay
 *
 * Description -
 -->

@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>


<!-- 'About Us' Panel. -->
<div class="jumbotron container">
    <!-- Header -->
    <div>
        <h2>About Us</h2>
    </div>
    <br />
    <!-- Descriptive Text. -->
    <div>
        <p class="lead">
            The team developing this application consists of Rory Thoman, and Tristyn Mackay.
        </p>
        <p class="lead">
            Tristyn takes an interest in project management, Systems Analysis and Design, and Front-End/Back-End Development.
        </p>
        <p class="lead">
            Rory however takes an interest in Systems Analysis and Design, as well as Front-End/Back-End Development.
        </p>
    </div>
</div>
