﻿<!--
 * File Name - Contact.cshtml
 *
 * Author - Rory Thoman
 * Date Created - 02/10/2017
 * Last Edited - 08/10/2017
 * Last Edited by - Tristyn Mackay
 *
 * Description -
 -->

@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title</h1>

<!-- 'Contact Us' Panel. -->
<div class="jumbotron container">
    <!-- Header & Button. -->
    <div>
        <h2>Contact Us</h2>
    </div>
    <!-- Descriptive Text. -->
    <div>
        <p class="lead">
            If you have any questions, suggestions, or comments about the application and what could be improved, feel free to send an email.
        </p>
    </div>
    <br />
    <!-- Contact Details Section. -->
    <div>
        <!-- Contact Details header. -->
        <h3>CoSSIP Team Contact Details</h3>

        <!-- Contact Details. -->
        <p class="lead">
            <address>
                <strong>Technical Support:</strong>   <a href="mailto:Thoman.Rory@gmail.com">Rory Thoman - Thoman.Rory@gmail.com</a><br />
                <strong>Project Information:</strong> <a href="mailto:macty006@mymail.unisa.edu.au">Tristyn Mackay - macty006@mymail.unisa.edu.au</a>
            </address>
        </p>
    </div>
</div>
