﻿<!--
 * File Name - Documenation.cshtml
 *
 * Author - Tristyn Mackay
 * Date Created - 02/10/2017
 * Last Edited - 25/10/2017
 * Last Edited by - Tristyn Mackay
 *
 * Description -
 -->
@model CoSSIP___Front_End.Models.ViewModelBase

@{
    ViewBag.Title = "Documentation";
}
<h1>@ViewBag.Title</h1>


<!-- 'Walk-Through Documentation' Panel. -->
<div class="jumbotron container">
    <!-- Header. -->
    <div>
        <h2>Walk-Through Documentation</h2>
    </div>
    <!-- Descriptive Text. -->
    <div>
        <p class="lead">
            Information regarding Walk-Through Documentation can be found here.
        </p>
    </div>
    <!-- Buttons. -->
    <div>
        <button class="inputButton col-lg-3 col-md-3 col-sm-3 col-xs-3" onclick="return false;">
            <span class="shine"></span>
            <span class="text">Template Help</span>
        </button>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <button class="inputButton col-lg-3 col-md-3 col-sm-3 col-xs-3" onclick="return false;">
            <span class="shine"></span>
            <span class="text">View Help</span>
        </button>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <button class="inputButton col-lg-3 col-md-3 col-sm-3 col-xs-3" onclick="return false;">
            <span class="shine"></span>
            <span class="text">Export Help</span>
        </button>
    </div>
</div>

<!-- Check if the user can access these buttons. -->
@foreach (var role in Model.user.roles)
{
    if (role.Equals("Admin"))
    {
        <!-- 'System Documentation' Panel. -->
        <div id="SystemDocumentation">
        </div>

        <!-- 'Project Documentation' Panel. -->
        <div id="ProjectDocumentation">
        </div>
    }
}


@section scripts{
    <script src="~/Scripts/SIP/Documentation.js" type="text/javascript"></script>
}