﻿<!--
 * File Name - Help.cshtml
 *
 * Author - Tristyn Mackay
 * Date Created - 02/10/2017
 * Last Edited - 25/10/2017
 * Last Edited by - Tristyn Mackay
 *
 * Description -
 -->

@{
    ViewBag.Title = "Help";
}
<h1>@ViewBag.Title</h1>


<!-- 'General Help' Panel. -->
<div class="jumbotron container">

    <!-- Header. -->
    <div>
        <h2>General Help</h2>
    </div>
    <!-- Descriptive Text. -->
    <div>
        <p class="lead">
            If you are seeking general help please click one of the buttons below.
        </p>
    </div>
    <!-- Buttons. -->
    <div>
        <button class="inputButton col-lg-3">Template Help</button>
        <div class="col-lg-1"></div>
        <button class="inputButton col-lg-3">View Help</button>
        <div class="col-lg-1"></div>
        <button class="inputButton col-lg-3">Export Help</button>
    </div>
</div>
<!-- 'Project Help' Panel. -->
<div class="jumbotron container">
    <!-- Header. -->
    <div>
        <h2>Project Help</h2>
    </div>
    <!-- Descriptive Text. -->
    <div>
        <p class="lead">
            If you are seeking project related help please click one of the buttons below.
        </p>
    </div>
    <!-- Buttons. -->
    <div>
        <button class="inputButton col-lg-3">Documentation</button>
        <div class="col-lg-1"></div>
        <button class="inputButton col-lg-3">Patch Notes</button>
    </div>
</div>
