﻿<!--
 * File Name - Documenation.cshtml
 *
 * Author - Rory Thoman
 * Date Created - 02/10/2017
 * Last Edited - 25/10/2017
 * Last Edited by - Tristyn Mackay
 *
 * Description -
 -->

@{
    ViewBag.Title = "Home Page";
}

<!-- Page Title. -->
<h1>Home</h1>

<!-- 'Description' Panel. -->
<div class="jumbotron container">
    <!-- Header. -->
    <h2>Description</h2>
    <br />
    <!-- Descriptive Text. -->
    <p class="lead">
        Welcome To SIP!<br />
        Use the menu items above or to the left to move around the site.
    </p>
    <p class="lead">
        SIP stands for 'Systems Integration Project'.<br />
        It is a 'middle-man' software implementation that bridges the divide between multiple systems within the City of Salisbury Council.
    </p>
</div>

<!-- 'Templates' Panel. -->
<div class="jumbotron container">
    <div class="container col-lg-12">
        <div class="container col-lg-3">
            <h2>Templates</h2>
        </div>
        <div class="container col-lg-6"></div>
        <button class="inputButton col-lg-3" onclick="window.location = 'CoSSIP/Template';">
            <span class="shine"></span>
            <span class="text">Templates</span>
        </button>
    </div>
    <div class="container col-lg-12">
        <!-- 'Create Template' Panel. -->
        <div class="col-lg-6" style="float: left; padding: 0px 40px 0px 0px;">
            <!-- Header & Button. -->
            <div class="row col-lg-12">
                <h3 class="col-lg-6">Create</h3>
            </div>
            <br />            
            <!-- Descriptive Text. -->
            <p class="lead">
                When beginning to use this application it is recommended to build a few templates to work from.<br />
                Once you have created some templates you can easily re-use them in the future.
            </p>
            <p class="lead">
                If you wish to create a template, press the 'Templates' button located in the top right of this panel.
            </p>
        </div>
        <!-- 'Use Template' Panel. -->
        <div class="col-lg-6" style="float: right; padding: 0px 0px 0px 40px;">
            <!-- Header & Button. -->
            <div class="row col-lg-12">
                <h3 class="col-lg-6">Use</h3>
            </div>
            <br />
            <!-- Descriptive Text. -->
            <p class="lead">
                Once you have built up some templates you can start to re-use them quickly.
            </p>
            <p class="lead">
                You can use a previously created Template to generate a report,<br />
                Simply press the 'Template' button located in the top right of this panel and click the 'Load Template' button.
            </p>
        </div>
    </div>
</div>
<!-- 'Who We Are' Panel. -->
<div class="jumbotron container">
    <h2>Who We Are</h2>
    <!-- 'About Us' Panel. -->
    <div class="col-lg-6" style="padding: 0px 40px 0px 0px;">
        <!-- Header & Button. -->
        <div class="row col-lg-12">
            <h3 class="col-lg-6">About Us</h3>
            <button class="inputButton col-lg-6" onClick="window.location = 'CoSSIP/About';">
                <span class="shine"></span>
                <span class="text">More Information</span>
            </button>
        </div>
        <br />
        <!-- Descriptive Text. -->
        <div>
            <p class="lead">
                The team developing this application consists of Rory Thoman, and Tristyn Mackay.
            </p>
            <p class="lead">
                Tristyn takes an interest in project management, Systems Analysis and Design, and Front-End/Back-End Development.
            </p>
            <p class="lead">
                Rory however takes an interest in Systems Analysis and Design, as well as Front-End/Back-End Development.
            </p>
            <p class="lead">
                To find out more, press the 'More Information' button located in the top right of this panel.
            </p>
        </div>
    </div>
    <!-- 'Contact Us' Panel. -->
    <div class="col-lg-6" style="padding: 0px 0px 0px 40px;">
        <!-- Header & Button. -->
        <div class="row col-lg-12">
            <h3 class="col-lg-6">Contact Us</h3>
            <button class="inputButton col-lg-6" onClick="window.location = 'CoSSIP/Contact';">
                <span class="shine"></span>
                <span class="text">Contact</span>
            </button>
        </div>
        <br />
        <!-- Descriptive Text. -->
        <div>
            <p class="lead">
                If you have any questions, suggestions, or comments about the application and what could be improved, feel free to send an email.
            </p>
        </div>
    </div>
</div>
<!-- 'Help' Panel. -->
<div class="jumbotron container">
    <!-- Header & Button. -->
    <div class="row col-lg-12">
        <h2 class="col-lg-9">Help</h2>
        <button class="inputButton col-lg-3" onClick="window.location = 'CoSSIP/Help';">
            <span class="shine"></span>
            <span class="text">Learn More</span>
        </button>
    </div>
    <br />
    <!-- Descriptive Text. -->
    <div>
        <p class="lead">
            If you don't understand the application or you want to learn more than what you already understand about the application,<br />
            press the 'Learn More' button located in the top right of this panel.
        </p>
    </div>
</div>