﻿<!--
 * File Name - LoadTemplate.cshtml
 *
 * Author - Tristyn Mackay
 * Date Created - 22/10/2017
 * Last Edited - 26/10/2017
 * Last Edited by - Tristyn Mackay
 *
 * Description -
 -->
@model CoSSIP___Front_End.Models.AllTemplateModels


<!-- Contents of Load Templates container.-->
<div style="display: inline-block; width: 90%; height: 160px; margin-top: 5%;">
    @for (int i = 0; i < Model.templateNames.Length; i++)
            {
        <div class="container">
            <button id="@Model.templateNames[i]" class="inputButton" style="width: 90%;" onclick="FinishLoad(this);">@Model.templateNames[i]</button>
        </div>
    }
</div>

