﻿<!--
 * File Name - Options.cshtml
 *
 * Author - Tristyn Mackay
 * Date Created - 11/10/2017
 * Last Edited - 25/10/2017
 * Last Edited by - Tristyn Mackay
 *
 * Description -
 -->

@{
    ViewBag.Title = "Options";
}
<h1>@ViewBag.Title</h1>


<!-- 'About Us' Panel. -->
<div class="jumbotron container">
    <!-- Header -->
    <div>
        <h2>Options</h2>
    </div>
    <br />
    <!-- Descriptive Text. -->
    <div>

    </div>
    <!-- Content. -->
    <div>
        <button class="inputButton" title="Add Test User" value="Add User" onclick="addUser(); return false;">
            <span class="shine"></span>
            <span class="text">Add User</span>
        </button>
        <button class="inputButton" title="Add Test User" value="Add User" onclick="addRole(); return false;">
            <span class="shine"></span>
            <span class="text">Add Role</span>
        </button>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/SIP/Options.js" type="text/javascript"></script>
}