﻿<!--
 * File Name - SaveTemplate.cshtml
 *
 * Author - Tristyn Mackay
 * Date Created - 22/10/2017
 * Last Edited - 26/10/2017
 * Last Edited by - Tristyn Mackay
 *
 * Description -
 -->


<!-- Contents of Saved Templates container.-->
<div style="display: inline-block; width: 90%; height: 160px; margin-top: 5%;">
    <div class="container" style="display: inline-block;">
        <label>Template Name<input id="templateSaveName" style="width: 90%; height: 30px;" type="text" required="required" pattern="[A-Za-z0-9]{1,20}"/></label>
    </div>
    <button class="inputButton" onclick="FinishSave()">Save Template</button>
</div>
        
