﻿<!--
 * File Name - Template.cshtml
 *
 * Author - Tristyn Mackay
 * Date Created - 02/10/2017
 * Last Edited - 26/10/2017
 * Last Edited by - Tristyn Mackay
 *
 * Description -
 -->
@model CoSSIP___Front_End.Models.TemplatePageModel

@section scripts{
    <script src="~/Scripts/SIP/Template.js" type="text/javascript"></script>
}

@{
    ViewBag.Title = "Template";
}
<h1>@ViewBag.Title</h1>

<div class="jumbotron container">
    <!-- 'Template Layout' Panel. -->
    <div class="container" style="margin-bottom: 50px; border: solid black 1px; border-radius: 5px; padding-bottom:20px; background-color: #C3C3C3;">
        <!-- Header. -->
        <div class="panel-heading">
            <h2><a data-toggle="collapse" href="#templateLayoutContent">Layout</a></h2>
        </div>
        <!-- Result Table container. -->
        <div id="templateLayoutContent" class="container panel-collapse collapse" style="overflow: auto; max-width: 90%;">
            <!-- Result Table. -->
            <table id="resultLayoutTable" class="table table-striped table-hover">
                <thead>
                    <tr id="ResultTableHead" style="font: bold; color: white; background-color: black;">Template Data Layout</tr>
                </thead>
                <tbody id="ResultTableContent"></tbody>
            </table>
        </div>
    </div>
    <!-- 'Template Search Components' Panel. -->
    <div class="container" style="margin-bottom: 50px; border: solid black 1px; border-radius: 5px; padding-bottom:20px; background-color: #C3C3C3;">
        <!-- Header. -->
        <div class="panel-heading">
            <h2><a data-toggle="collapse" href="#templatePanelContent">Search Components</a></h2>
        </div>
        <div id="templatePanelContent" class="container panel-collapse collapse">
            <!-- Object header. -->
            <div class="container col-lg-3">
                <div class="container col-lg-6"></div>
                <h3 class="col-lg-6">Objects</h3>
            </div>
            <!-- Field header. -->
            <div class="container col-lg-3" style="margin-left: 170px;">
                <h3>Fields</h3>
            </div>
            <div class="container col-lg-1"></div>
            <!-- Filter header. -->
            <div class="container col-lg-3" style="margin-left: 30px;">
                <h3>Filters</h3>
            </div>
            <div class="container col-lg-2"></div>
            <!-- Search Components -->
            <div class="container col-lg-12" id="SearchTablesContainer" style="margin: 50px 20px 0px 30px; padding-bottom:20px;">
            </div>
            <div>
                <!-- Buttons. -->
                <button class="stateButton col-lg-1 col-md-1 col-sm-1 col-xs-1" onclick="addSearchTable(); return false;" style="margin: 0px 0px 0px 40px; background-color: #53b455;">
                    <span class="shine"></span>
                    <span class="text" style="color: black;">+</span>
                </button>
            </div>
        </div>
    </div>
    <!-- 'Template Save' Panel. -->
    <div class="container col-lg-12" style="text-align: center;">
        <div class="container col-lg-1"></div>
        <!-- Save Panel. -->
        <div class="container col-lg-4" style="margin-bottom: 50px; border: 1px solid black; border-radius: 5px; background-color: #C3C3C3;">
            <div class="panel-heading">
                <h3><a data-toggle="collapse" href="#saveContent" onclick="GetSavePanel()">Save</a></h3>
            </div>
            <!-- Saved Templates display container. -->
            <div id="saveContent" class="container panel-collapse collapse" style="overflow: auto; text-align: center;">
            </div>
        </div>
        <div class="container col-lg-2"></div>
        <!-- Load Panel. -->
        <div class="container col-lg-4" style="margin-bottom: 50px; border: 1px solid black; border-radius: 5px; background-color: #C3C3C3;">
            <div class="panel-heading">
                <h3><a data-toggle="collapse" href="#loadContent" onclick="GetLoadPanel()">Load</a></h3>
            </div>
            <!-- Load Templates display container. -->
            <div id="loadContent" class="container panel-collapse collapse" style="overflow: auto; text-align: center;">
            </div>
        </div>
        <div class="container col-lg-1"></div>
    </div>
    <!-- 'Template Options' Panel. -->
    <div class="container" style="padding-bottom:20px;">
        <!-- Options Buttons. -->
        <div class="container"  style="text-align: center;">
            <button class="inputButton" onclick="PostTemplate();">
                <span class="shine"></span>
                <span class="text">Search</span>
            </button>
        </div>
    </div>
</div>

<!-- Template Result Panel. -->
<div id="DynamicContent" style="margin-top:50px;">
</div>

<!-- Hold the variables for later use. -->
@Html.Hidden("dataTables", Json.Encode(Model.Tables))
@Html.Hidden("dataFields", Json.Encode(Model.Fields))
@Html.Hidden("dataTypes", Json.Encode(Model.FieldTypes))
@Html.Hidden("chosenTables", Json.Encode(new string[0]))
@Html.Hidden("chosenFields", Json.Encode(new string[0][]))
@Html.Hidden("chosenTypes", Json.Encode(new string[0][]))
