﻿<!--
 * File Name - ViewTemplate.cshtml
 *
 * Author - Tristyn Mackay
 * Date Created - 22/10/2017
 * Last Edited - 26/10/2017
 * Last Edited by - Tristyn Mackay
 *
 * Description -
 -->
@model CoSSIP___Front_End.Models.ViewTemplatePageModel

<h1>Template Results</h1>

<div class="jumbotron container">
    <!-- 'Template Layout' Panel. -->
    <div class="container" style="border: solid black 1px; border-radius: 5px; padding-bottom:20px; margin-bottom:50px; background-color: #C3C3C3;">
        <!-- Header. -->
        <div class="panel-heading">
            <h2><a data-toggle="collapse" href="#resultContent">Results</a></h2>
        </div>
        <!-- Result Table container. -->
        <div id="resultContent" class="container panel-collapse collapse" style="overflow: auto; max-width: 90%;">
            <!-- Result Table.-->
            @if (Model.ResultData.Length > 0)
            {
                 <table id="ResultTable" class="table table-striped table-hover" style="" cellpadding="10">
                     <thead class="thead-inverse">
                         <tr id="ResultTableHeaders" style="font: bold; color: white; background-color: black;">@{ foreach (string header in Model.ResultData[0]) {<th>@header</th> } }</tr></thead>
                     <tbody id="ResultTableContent">
                         @{for (int i = 1; i < Model.ResultData.Length; i++)
                             {
                                 <tr>
                                     @foreach (string column in Model.ResultData[i])
                                     {
                                         <td>@column</td>
                                     }
                                 </tr>
                             }
                         }
                     </tbody>
                 </table>
            }
            else
            {
                <p>No Results to Display.</p>
            }
        </div>
    </div>

    <!-- 'View Template Result Options' Panel. -->
    <div class="container">
        <!-- Options Buttons. -->
        <div>
            <div class="container col-lg-5"></div>

            <!-- Export Button. -->
            <button class="inputButton col-lg-2" onclick="ExportResults();">
                <span class="shine"></span>
                <span class="text">Export</span>
            </button>

            <div class="container col-lg-5"></div>
        </div>
    </div>
</div>

<!-- Hold the variables for later use. -->
@Html.Hidden("results", Json.Encode(Model.ResultData))