﻿/*
 * File Name - Site.css
 *
 * Author - Rory Thoman
 * Date Created - 06/10/2017
 * Last Edited - 26/10/2017
 * Last Edited by - Tristyn Mackay
 *
 * Description -
 */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
 * will truncate terms that are too long to fit in the left column 
 */
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#side-nav-items {
    margin: 0;
    padding: 0;
    visibility: hidden;
    z-index: 1000;
}

#side-nav-items ul {
    padding: 0;
    margin: 0;
    -webkit-padding-start: 0;
}

#side-nav-items ul li {
    list-style-type: none;
    vertical-align: central;
    min-height: 40px;
    max-height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: medium;
    color: #999999;
    background-color: black;
}

#side-nav-items li a {
    color: inherit;
    font-style: normal;
    width: 200px;
    height: 40px;
}

#side-nav-items li a:hover{
    color: white;
}

#side-nav-wrapper {
    float: left;
    position: fixed;
    left: 0;
    height: 100%;
    max-width: 200px;
    min-width: 200px;
    margin-top: -20px;
}

#side-nav-wrapper h1 {
    text-align: center;
    font-size: large;
    color: #999999;
    background-color: black;
    width: 100%;
    padding: 5px;
    margin: 0;
}

/* Button related CSS. */
/* Input Button CSS. */
button.inputButton {
    width: 140px;
    height: 40px;
    background: #333;
    text-align: center;
    position: relative;
    margin: 0 auto 0;
    overflow: hidden;
    border: 1px solid #333333;
    color: white;
    text-decoration: none;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 1px 1px 0px rgba(255,255,255,.4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
}

button.inputButton span.text {
    position: center;
    text-align: center;
    font: bold 15px Arial;
}

button.inputButton span.shine {
    content: '';
    position: absolute;
    height: 400px;
    width: 20px;
    background: white;
    top: -80px;
    left: -20px;
    display: block;
    opacity: 0.8;
    -webkit-box-shadow: 0 0 20px 10px white;
    -moz-box-shadow: 0 0 20px 10px white;
    box-shadow: 0 0 20px 10px white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

button.inputButton:hover {
    -webkit-box-shadow: inset 0 1px 10px 0 rgba(255,255,255,.4), 0 3px 3px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 1px 10px 0 rgba(255,255,255,.4), 0 3px 3px 0 rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 10px 0 rgba(255,255,255,.4), 0 3px 3px 0 rgba(0,0,0,0.4);
}

button.inputButton:active {
    -webkit-box-shadow: inset 0 1px 15px 0 rgba(0,0,0,.4), inset 0 1px 1px 1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(255,255,255,.5);
    -moz-box-shadow: inset 0 1px 15px 0 rgba(0,0,0,.4), inset 0 1px 1px 1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(255,255,255,.5);
    box-shadow: inset 0 1px 15px 0 rgba(0,0,0,.4), inset 0 1px 1px 1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(255,255,255,.5);
}

button.inputButton:hover span.shine {
    left: 170px;
    top: -300px;
}

/* State Button CSS. */
button.stateButton {
    width: 30px;
    height: 30px;
    background: #333;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    border: 1px solid #333333;
    color: white;
    text-decoration: none;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
}

button.statebutton span.text {
    position: center;
    text-align: center;
    font: bold 15px Arial;
}

button.statebutton span.shine {
    content: '';
    position: absolute;
    height: 400px;
    width: 20px;
    background: white;
    top: -80px;
    left: -100px;
    display: block;
    opacity: 0.8;
    -webkit-box-shadow: 0 0 20px 10px white;
    -moz-box-shadow: 0 0 20px 10px white;
    box-shadow: 0 0 20px 10px white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

button.statebutton:hover {
    -webkit-box-shadow: inset 0 1px 10px 0 rgba(255,255,255,.4), 0 3px 3px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 1px 10px 0 rgba(255,255,255,.4), 0 3px 3px 0 rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 10px 0 rgba(255,255,255,.4), 0 3px 3px 0 rgba(0,0,0,0.4);
}

button.statebutton:active {
    -webkit-box-shadow: inset 0 1px 15px 0 rgba(0,0,0,.4), inset 0 1px 1px 1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(255,255,255,.5);
    -moz-box-shadow: inset 0 1px 15px 0 rgba(0,0,0,.4), inset 0 1px 1px 1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(255,255,255,.5);
    box-shadow: inset 0 1px 15px 0 rgba(0,0,0,.4), inset 0 1px 1px 1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(255,255,255,.5);
}

button.statebutton:hover span.shine {
    left: 60px;
    top: -100px;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
} 